* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

/* ---------breadcrumb--------------- */

#breadcrumb {
    background-color: rgb(108, 108, 248) !important;
    padding: 10px 0;
}

#breadcrumb p {
    font-size: 0.9em;
    font-weight: 400;
    color: #fff;
}

.fa {
    padding: 5px;
    font-size: 10px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    color: black;
}

.fa:hover {
    transform: translateY(-10px);
    color: black;
}

/* ------------nav bar---------------- */

#nav_bar {
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar {
    background: #f8f9fa;
    padding: 0 !important;
}

.navbar-brand img {
    height: 55px;
    padding-left: 20px;
}

.navbar-nav li {
    padding: 0 10px;
}

.navbar-nav li a {
    color: black !important;
    font-weight: 400;
    float: center;
    text-align: center;
}

.fa-bars {
    color: black;
    font-size: 30px !important;
}

.navbar-toggler {
    outline: none !important;
}

/* ---------slider--------------- */

#slider {
    padding-top: 10px;
}

/* ---------marquee------------- */

#marquee {
    margin: 15px 70px;
    background-color: rgb(75, 75, 250);
    color: #fff;
}

/* ---------intro------------- */

#intro {
    padding-top: 50px;
    background: #f8f9fa;
    padding-bottom: 50px;
    margin: 15px 15px;
}

#intro p {
    text-align: justify;
    text-justify: inter-word;
}

.title {
    padding-bottom: 10px;
    background-image: linear-gradient(to left, #0000cc, #00cc44);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.title::before {
    content: '';
    background: #0000cc;
    height: 5px;
    width: 200px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    transform: translateY(63px);
}

.title::after {
    content: '';
    background: #0000cc;
    height: 10px;
    width: 50px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 40px;
    display: block;
    transform: translateY(8px);
}

/* ---------count------------- */

#count {
    padding: 70px 0;
    background-color: #0000cc;
    color: #fff;
}

#count h1 {
    font-family: 'Bradley Hand ITC', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
}

.green {
    color: greenyellow;
    font-weight: 800;
}

.fa-cutlery {
    font-size: 60px !important;
}

.fa-graduation-cap {
    font-size: 60px !important;
}

.fa-users {
    font-size: 60px !important;
}

.fa-stethoscope {
    font-size: 60px !important;
}

/* ---------services------------- */

#services {
    padding: 50px 0;
    background: #f8f9fa;
}

#services p {
    font-weight: 500;
    font-size: 1.1em;
    color: blue;
}

#services .fa-medkit {
    font-size: 50px !important;
    color: orange;
}

#services .fa-money {
    font-size: 50px !important;
    color: gray;
}

#services .fa-male {
    font-size: 50px !important;
    color: greenyellow;
}

#services .fa-cutlery {
    font-size: 50px !important;
    color: black;
}

#services .fa-tint {
    font-size: 50px !important;
    color: blue;
}

#services .fa-graduation-cap {
    font-size: 50px !important;
    color: rgb(231, 140, 140);
}

#space {
    position: relative;
    width: 100%;
    padding: 30px 30px !important;
}

/* #icon_design{
    padding: 30px;
    font-size: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 100%;   
} */

/* ---------mission------------- */
#mission{
    padding: 60px 0;
    background-color: #fff; 
    margin: 15px 15px;
}
#mission hr{
    width: 100px;
    background-color: black;
}
#mission-shade{
    background-color:  #f8f9fa;
    position: relative;
    width: 100%;
    padding: 15px 40px !important;
    margin: 10px 0px !important;
}
#mission-shade p{
    color: rgb(62, 62, 230);
    font-weight: 600;
}
/* ---------gallery------------- */
#gallery{
    padding:40px 0;
    background-color:#f8f9fa;
    margin: 15px 15px;
}

.journey {
    position: relative;
    width: 100%;
    margin: 20px 20px 20px 20px;
  }
  
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .journey:hover .image {
    opacity: 0.3;
  }
  
  .journey:hover .middle {
    opacity: 1;
  }
  
  .text {
    background-color:   #404040 ;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }
  